


button{
  border-radius:0.5em;
  font-style: bold;
  cursor: pointer;
}

table{
  margin-top: 1%;
  font-size: 150%;
  width: 100%;
  background-color: rgb(80, 90, 90);
  text-align: center;
}

td, th{
  text-align: center;
  border: 1px solid rgb(110, 120, 120);
  border-collapse: collapse;
}